body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  color: white;
  font-family: sans-serif;
}

#compass-container {
  position: relative;
  width: 250px;
  height: 250px;
}

#compass {
  width: 100%;
  height: 100%;
  position: relative;
}

#needle, #text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#needle {
  width: 200px;
  z-index: 1; /* achter de tekst */
  transform-origin: 50% 50%;
  transition: transform 0.1s linear;

}

#text {
  width: 220px;
  z-index: 2; /* boven de naald */
}

#start {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
